<div id="vtutorial" class="container">
	<div id="carousel" class="carousel slide h-100" data-ride="carousel">
		<div class="carousel-inner h-100" role="listbox">
			<div class="carousel-item justify-content-center active h-100">
				<div class="d-flex flex-column justify-content-center h-100 text-center p-1">
					<span class="icon-headphones display-4 mb-3"></span>
					<!--<h3>Put on your headphones</h3>-->
					<p>This is an audio game. A headset is essential!</p>
				</div>
			</div>
			<div class="carousel-item justify-content-center h-100">
				<div class="d-flex flex-column justify-content-center h-100 text-center p-1">
					<span class="icon-chakra-1 display-4 mb-3"></span>
					<p>Start your game by listening to the Outer World adventure.</p>
				</div>
			</div><div class="carousel-item justify-content-center h-100">
				<div class="d-flex flex-column justify-content-center h-100 text-center p-1">
					<span class="icon-chakra-4 display-4 mb-3"></span>
					<p>You will gradually unlock meditations which you can access at any time by tapping your Inner World screen.</p>
				</div>
			</div>
			<div class="carousel-item justify-content-center h-100">
				<div class="d-flex flex-column justify-content-center h-100 text-center p-1">
					<span class="icon-tap display-4 mb-3"></span>
					<!--<h3>Choose your path</h3>-->
					<p>At the end of each audio segment you may be given a choice. Tap your preference to proceed.</p>
				</div>
			</div>
			<div class="carousel-item justify-content-center h-100">
				<div class="d-flex flex-column justify-content-center h-100 text-center p-1">
					<button class="btn-control return relative mb-3">
					</button>
					<!--<p>When the back button is on, you can return to a previous audio.</p>-->
					<p>You can only return to the last audio played. Choose your path carefully.</p>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container text-center">
				<div class="row flex-nowrap w-100">
					<button id="btn-previous" class="btn btn-primary d-flex flex-column align-items-center" style="font-size: 0.8em;" disabled="disabled">
						<span class="icon-arrow-left" style="padding: 3px;"></span>
						<span>PREVIOUS</span>
					</button>
					<button id="btn-next" class="btn btn-primary d-flex flex-column align-items-center" style="font-size: 0.8em;">
						<span class="icon-arrow-right" style="padding: 3px;"></span>
						<span>NEXT</span>
					</button>
				</div>
				<button id="btn-skip" class="btn">Skip Tutorial</button>
				<!--<button id="btn-next" class="btn btn-primary" style="margin: auto;display: block;width: 175px;">Next</button>
				<button id="btn-skip" class="btn">Skip Tutorial</button>-->
			</div>
		</footer>
	</div>
</div>
