.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;@media(
    max-width: 768px) {min-height: calc(100vh - 20px);};
}

.modal-content {
    border-radius: 2px;
    background: $brand-secondary-light;
    color: $white;
}

.modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}

.close {
    color: $white;
    opacity: .8;
}