<div id="vcredits" class="container">
	<div class="text-center p-1">
		<p>AUTHOR &amp; NARRATOR</p>
		<hr>
		<p>Heather Noël</p>
	
		<p class="mt-10">GAME DESIGN</p>
		<hr>
		<p>Heather Noël</p>
	 
		<p class="mt-10">GAME PROGRAMMING</p>
		<hr>
		<p>Camila Santos</p>
	
		<p class="mt-10">SOUND DESIGN</p>
		<hr>
		<p>David James</p>
	
		<p class="mt-10">VOCALS</p>
		<hr>
		<p>Amelia Rachel Noël</p>
		<p>Heather Noël</p>
	
		<p class="mt-10">PRODUCER/DIRECTOR</p>
		<hr>
		<p>Heather Noël</p>
		
		<p class="mt-10">ACKNOWLEDGEMENTS</p>
		<hr>
		<p>The Ringing Cedars Series<br>by Vladimir Megre</p>
	
		<p class="mt-10">SPECIAL THANKS</p>
		<hr>
		<p>Kelly Cavanaugh</p>
		<p>Andrew Macauley</p>
		<p>Ted &amp; LeeAnn Dekker</p>
		<p>Gregor Koch</p>
		<p>Siddiqi Ray</p>
	
		<p class="mt-10">WEBSITE</p>
		<hr>
		<p><a href="http://navigatethegame.com/" target="_blank">NavigateTheGame.com</a></p>
	</div>
</div>
