<div id="vtimeline" class="container">
    <ul class="timeline">
        <!--<li>
            <div class="timeline-badge">1</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Chapter 1</h4>
                </div>
                <div class="timeline-body">
                    <p>You have a romantic interest</p>
                </div>
            </div>
        </li>
		<li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-body">
                    <p>You remembered Matthew</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-body">
                    <p>Hike/Dying</p>
                </div>
            </div>
        </li>-->
    </ul>
	<footer class="footer">
      <div class="container">
        <button id="btn-continue-progress" class="btn btn-primary hidden-xs-up">Continue</button>
      </div>
    </footer>
</div>
