<div class="header">
	<nav class="navbar fixed-top">
		<div class="d-flex align-items-center">
			<!--<button id="btn-navbar" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</button>-->
			<button id="btn-back" class="navbar-toggler collapsed invisible" type="button" aria-label="Back to menu">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<a class="navbar-title" href="#">
				THE GAME: Nothing is as it seems
			</a>
		</div>
		<div class="navbar-collapse collapse" id="navbarSupportedContent" aria-expanded="false" style="">
			<ul id="categories" class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Create a new save file</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
